<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--  数据库连接配置  -->
    <properties resource="jdbc.properties"></properties>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- <dataSource type="POOLED">  - mybatis内置连接池 -->
            <!--            <property name="driver" value="${driver}"/>-->
            <!--            <property name="url" value="${url}"/>-->
            <!--            <property name="username" value="${username}"/>-->
            <!--            <property name="password" value="${password}"/>-->
            <dataSource type="com.ssm.utils.DruidDataSourceFactory">
                <property name="driverClass" value="${driver}"/>
                <property name="jdbcUrl" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--  mapper配置 注册 -->
    <mappers>
        <mapper resource="mappers/userDetailsMapper.xml"/>
        <mapper resource="mappers/userInfoMapper.xml"/>
        <mapper resource="mappers/userPoolMapper.xml"/>
        <mapper resource="mappers/productMapper.xml"/>
    </mappers>
</configuration>
